/node_modules
/public/hot
/public/storage
/public/downloads/
/public/sitemap.xml
/storage/backups
/storage/logs/
/storage/*.key
/vendor
/keys
.env
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
/.vscode
/.idea
.DS_Store
dump.rdb
